<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Movie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/views/css/style.css">
</head>

<body>
    <header>
        <%- include('../partials/adminNav') %>
    </header>
    <div class="container">
        <h2 class="title">List Movie</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Movie Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Trailer Link </th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < out.length;i++){ %>
                <tr>
                    <th scope="row"><%= i+1 %></th>
                    <td><%= out[i].name %></td>
                    <td><%= out[i].description %></td>
                    <td><%= out[i].trailer %></td>
                    <td>
                        <a class="btn btn-info" href="/admin/editMovie/<%= out[i].id %>">Edit</a>
                        <a href="/admin/deleteMovie/<%= out[i].id %>"
                            onclick="return confirm('Are You Sure Want to Delete?')" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>
</html>